:host {
    width: 300px;
    height: 24px;
    font-size: inherit;
    line-height: calc(24px - 2dpx);
    border: solid 1dpx $alpha($white(0), 0.3);
    background-color: #fff;
    border-radius: 3px;
    padding: 0 4px;
    display: inline-block;
    vertical-align: center;
    font-family: 'Mew Sans SC', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
}

:host(.focused) {
    border-color: #0d8ef1;
    box-shadow: 0 0 2px $alpha(#0d8ef1, 0.5);
}

shadow-root {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}

#icon {
    width: 20px;
    height: 20px;
    margin: calc(2px - 1dpx);
    flex-shrink: 0;
}

input {

    position: relative;
    outline: none;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    margin-right: -22px;
    vertical-align: top;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 22px);

    shadow-root:hover & {
        -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 22px, rgba(0, 0, 0, 1) 44px);
    }

    :host(.focused) & {
        -webkit-mask-image: none;
        padding-right: 6px;
    }

    :host(.focused) shadow-root:hover & {
        margin-right: 0;
        padding-right: 2px;
    }

}

input::-webkit-input-placeholder {
    font-family: inherit;
    color: inherit;
    opacity: 0.3;
}

#clear {

    flex-shrink: 0;
    flex-grow: 0;
    margin-right: -4px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: -16px;
    pointer-events: none;
    position: relative;

    img {
        width: 20px;
        height: 20px;
    }

    :host(.filled) shadow-root:hover & {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

    :host(.filled) & {
        margin-left: 0;
        pointer-events: auto;
    }

}
