ui-code-editor {
    width: 100%;
    height: 100%;
}

#code-view {
    width: 100%;
    height: 100%;
}

#code {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 12rpx;
    padding: 4px;
}
