body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Mew Serif', 'Times', 'Times New Roman', serif;
    user-select: none;
}

input, select {
    font-family: 'Mew Serif', 'Times', 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1;
    padding: 0;
    margin: 0;
    outline: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Mew Sans', 'Helvetica', 'Arial', sans-serif;
}
