body {
	--dock-width: 120px;
}

body > #dock {
	z-index: 1000;
	position: fixed;
	left: 0;
	top: calc(20px * var(--ui-scale));
	width: calc(var(--dock-width) * var(--ui-scale));
	background-color: rgba(255, 255, 255, 0.7);
	border: solid 1px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url('../res/logo.png');
	background-size: calc(var(--dock-width) * var(--ui-scale) * 0.8) calc(var(--dock-width) / 384 * 101 * var(--ui-scale) * 0.8);
	padding-top: calc(var(--dock-width) / 384 * 101 * var(--ui-scale) * 1.2);
	background-position: center calc(var(--dock-width) * var(--ui-scale) * 0.2 / 384 * 101);
	background-repeat: no-repeat;
	box-shadow: 0 calc(3px * var(--ui-scale)) calc(3px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(calc(3px * var(--ui-scale)));
	overflow: hidden;
}

body > #dock > .dock-icon {
    width: calc(34px * var(--ui-scale));
    height: calc(34px * var(--ui-scale));
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: calc(20px * var(--ui-scale));
    line-height: calc(34px * var(--ui-scale));
    text-transform: uppercase;
    overflow: hidden;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.1);
    margin: calc(2px * var(--ui-scale));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: default;
    box-shadow: 0 0 calc(3px * var(--ui-scale)) rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

body > #dock > .dock-icon.topmost {
    box-shadow: 0 0 calc(3px * var(--ui-scale)) #006bf9;
}

body > #dock > .dock-icon::first-letter {
	font-size: 200%;
	margin-right: -50%;
}

body > #dock > #search {
	width: 100%;
	padding: calc(2px * var(--ui-scale)) calc(4px * var(--ui-scale));
	background-color: rgba(255, 255, 255, 0.75);
	border: none;
	border-top: solid 1px rgba(0, 0, 0, 0.1);
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

body > #search-result {
	z-index: 1000;
    position: fixed;
    left: calc((var(--dock-width) + 20px) * var(--ui-scale));
    width: calc(600px * var(--ui-scale));
    height: calc(500px * var(--ui-scale));
    top: calc(20px * var(--ui-scale));
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 calc(3px * var(--ui-scale)) calc(3px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(calc(3px * var(--ui-scale)));
	background-color: rgba(255, 255, 255, 0.7);
	pointer-events: none;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(calc((-620px - var(--dock-width)) * var(--ui-scale)));
	opacity: 0;
}

body > #search-result.visible {
	pointer-events: auto;
	transform: none;
	opacity: 1;
}

body > #search-result > #search-close-button {
	background-color: #ed6868;
    width: calc(16px * var(--ui-scale));
    height: calc(16px * var(--ui-scale));
    position: absolute;
    right: calc(-6px * var(--ui-scale));
    top: calc(-6px * var(--ui-scale));
    border-radius: calc(16px * var( --ui-scale));
    border: solid 1px rgba(0, 0 , 0, 0.3);
    box-shadow: 0 calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

body > #search-result > #search-close-button::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 60%;
    top: 20%;
    left: calc(50% - 1px);
    background-color: #ffffff;
    transform: rotate(45deg);
}

body > #search-result > #search-close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 60%;
    top: 20%;
    left: calc(50% - 1px);
    background-color: #ffffff;
    transform: rotate(-45deg);
}

body > #search-result > #search-result-list {
	padding-bottom: calc(40px * var(--ui-scale));
	overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

body > #search-result .search-result-item {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	padding: calc(5px * var(--ui-scale)) calc(10px * var(--ui-scale));
	cursor: default;
}

body > #search-result .search-result-item:hover {
	background-color: rgba(0, 0, 0, 0.03);
}

body > #search-result .search-result-item #search-result-item-filename {
	font-family: 'Menlo', 'Consolas', monospace;
	color: #1a7bff;
}

body > #search-result .search-result-item #search-result-item-basename {
	display: inline;
}

body > #search-result .search-result-item #search-result-item-extname {
	display: inline;
	color: #97b7e2;
}

body > #search-result .search-result-item #search-result-item-dirname {
	font-family: 'Menlo', 'Consolas', monospace;
	font-size: 80%;
	color: #888;
}
