.arrows {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.arrows .arrow {
    fill: none;
    stroke: #bbb;
    stroke-width: 2px;
}

.arrows .arrow.arrow-type-equals {
    stroke: #ffd49e;
}

.arrows .arrow.arrow-type-link {
    stroke: #b1d0ff;
}

.arrows .arrow.arrow-type-file {
    stroke: #ffbcfd;
}

.menu {
    z-index: 10000;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: calc(3px * var(--ui-scale)) 0;
    border: solid 1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(calc(3px * var(--ui-scale)));
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 calc(3px * var(--ui-scale)) calc(3px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.menu .menu-item {
    white-space: nowrap;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 200%;
    padding-left: calc(8px * var(--ui-scale));
    padding-right: calc(15px * var(--ui-scale));
    font-size: calc(11px * var(--ui-scale));
    cursor: default;
    color: #666;
}

.menu .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu .menu-separator {
    margin: calc(3px * var(--ui-scale)) 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
}

.window {
    position: absolute;
    left: 216px;
    top: 100px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 calc(3px * var(--ui-scale)) calc(3px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(calc(3px * var(--ui-scale)));
    transition: transform 0.3s, opacity 0.3s, width 0.2s, height 0.2s;
    pointer-events: none;
	transform: scale(0.5, 0.5);
	opacity: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.window.topmost {
    border-color: rgba(59, 124, 210, 0.65);
}

.window.scaling {
    transition: transform 0.3s, opacity 0.3s;
}

.window.visible {
	pointer-events: auto;
	transform: none;
	opacity: 1;
}

.window > #window-action-button {
    background-color: #afdb00;
    width: calc(16px * var(--ui-scale));
    height: calc(16px * var(--ui-scale));
    position: absolute;
    right: calc(16px * var(--ui-scale));
    top: calc(-6px * var(--ui-scale));
    border-radius: calc(16px * var( --ui-scale));
    border: solid 1px rgba(0, 0 , 0, 0.3);
    box-shadow: 0 calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.window > #window-action-button::before {
    content: '';
    position: absolute;
    left: calc(4px * var(--ui-scale));
    right: calc(4px * var(--ui-scale));
    top: calc(4px * var(--ui-scale));
    bottom: calc(4px * var(--ui-scale));
    border: solid 2px #fff;
    border-radius: calc(16px * var(--ui-scale));
}

.window > #window-close-button {
	background-color: #ed6868;
    width: calc(16px * var(--ui-scale));
    height: calc(16px * var(--ui-scale));
    position: absolute;
    right: calc(-6px * var(--ui-scale));
    top: calc(-6px * var(--ui-scale));
    border-radius: calc(16px * var( --ui-scale));
    border: solid 1px rgba(0, 0 , 0, 0.3);
    box-shadow: 0 calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)) rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.window > #window-close-button::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 60%;
    top: 20%;
    left: calc(50% - 1px);
    background-color: #ffffff;
    transform: rotate(45deg);
}

.window > #window-close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 60%;
    top: 20%;
    left: calc(50% - 1px);
    background-color: #ffffff;
    transform: rotate(-45deg);
}

.window > #window-title-bar {
    white-space: nowrap;
    line-height: 2;
    font-size: calc(11px * var(--ui-scale));
    padding-left: calc(10px * var(--ui-scale));
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #666;
    padding-right: calc(20px * var(--ui-scale));
    cursor: default;
    user-select: none;
	background-color: rgba(255, 255, 255, 0.3);
	flex-shrink: 0;
	flex-grow: 0;
}

.window.topmost > #window-title-bar {
    color: #006ccc;
}

.window > #window-resizer {
    width: calc(10px * var(--ui-scale));
    height: calc(10px * var(--ui-scale));
    position: absolute;
    right: calc(-4px * var( --ui-scale));
    bottom: calc(-4px * var( --ui-scale));
    border-right: solid calc(3px * var(--ui-scale)) rgba(0, 133, 255, 0.65);
    border-bottom: solid calc(3px * var(--ui-scale)) rgba(0, 133, 255, 0.65);
    cursor: se-resize;
}

.window > #window-client-area {
	overflow: hidden;
	width: 100%;
	height: 100px;
	flex-grow: 1;
	flex-shrink: 1;
}

.window.window-class-dds > #window-client-area {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.window.window-class-dds > #window-client-area img {
	flex-shrink: 0;
	flex-grow: 0;
	background-image: url('../res/transparent.svg');
	background-repeat: repeat;
	background-size: 18px 18px;
    max-width: 100%;
    max-height: 100%;
}

.window.window-class-xdb > #window-client-area,
.window.window-class-xdb-link > #window-client-area {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    padding-bottom: calc(40px * var(--ui-scale));
}

.window.window-class-xdb > #window-client-area .xdb-record,
.window.window-class-xdb-link > #window-client-area .xdb-record {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-family: 'Menlo', 'Consolas', monospace;
    font-size: calc(9px * var(--ui-scale));
    line-height: 2;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-folder,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-folder {
    width: calc(10px * var(--ui-scale));
    height: calc(10px * var(--ui-scale));
    position: absolute;
    left: calc(5px * var(--ui-scale));
    top: calc(5px * var(--ui-scale));
    border-radius: calc(2px * var(--ui-scale));
    cursor: pointer;
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-folder::before,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-folder::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(6px * var(--ui-scale));
    left: calc(50% - 2px);
    top: calc(50% - 3px * var(--ui-scale));
    background-color: rgba(0, 0, 0, 0.3);
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-folder::after,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-folder::after {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(6px * var(--ui-scale));
    left: calc(50% - 2px);
    top: calc(50% - 3px * var(--ui-scale));
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(90deg);
}

.window.window-class-xdb > #window-client-area .xdb-record.expanded > #xdb-record-folder::before,
.window.window-class-xdb-link > #window-client-area .xdb-record.expanded > #xdb-record-folder::before {
    display: none;
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-line,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-line {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-key,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-key {
    width: calc(100px * var(--ui-scale));
    text-align: right;
    padding-left: calc(26px * var(--ui-scale));
    padding-right: calc(6px * var(--ui-scale));
    border-right: solid 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}

.window.window-class-xdb > #window-client-area .xdb-record.href > #xdb-record-line > #xdb-record-value,
.window.window-class-xdb-link > #window-client-area .xdb-record.reference > #xdb-record-line > #xdb-record-value,
.window.window-class-xdb-link > #window-client-area .xdb-record.file > #xdb-record-line > #xdb-record-value,
.window.window-class-xdb-link > #window-client-area .xdb-record.guid > #xdb-record-line > #xdb-record-value {
    cursor: pointer;
    color: #ff9f00;
}

.window.window-class-xdb > #window-client-area .xdb-record.binding > #xdb-record-line > #xdb-record-value {
    cursor: pointer;
    color: #ff9f00;
    font-weight: bold;
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-value,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-value {
    padding: 0 calc(6px * var(--ui-scale));
    width: calc(160px * var(--ui-scale));
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #006ccc;
}

.window.window-class-xdb > #window-client-area .xdb-record.complex > #xdb-record-value,
.window.window-class-xdb-link > #window-client-area .xdb-record.complex > #xdb-record-value {
    cursor: default;
    color: #888;
    font-style: italic;
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-container,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-container {
    flex-grow: 1;
    display: none;
    width: 100%;
    margin-left: calc(20px * var(--ui-scale));
    border-left: solid 1px rgba(0, 0, 0, 0.05);
    border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.window.window-class-xdb > #window-client-area .xdb-record #xdb-record-container > .xdb-record:last-child,
.window.window-class-xdb-link > #window-client-area .xdb-record #xdb-record-container > .xdb-record:last-child {
    border-bottom: none;
}

.window.window-class-xdb > #window-client-area .xdb-record.expanded > #xdb-record-container,
.window.window-class-xdb-link > #window-client-area .xdb-record.expanded > #xdb-record-container {
    display: block;
}

.window.window-class-txt > #window-client-area {
    font-size: calc(12px * var(--ui-scale));
    padding: calc(8px * var(--ui-scale));
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
}

.window.window-class-related-files > #window-client-area {
    display: flex;
    flex-direction: column;
    font-size: calc(10px * var(--ui-scale));
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    padding: calc(4px * var(--ui-scale)) 0;
    cursor: default;
}

.window.window-class-related-files > #window-client-area .file {
    font-family: 'Menlo', 'Consolas', monospace;
    line-height: 2;
    padding: 0 calc(8px * var(--ui-scale));
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
}

.window.window-class-related-files > #window-client-area .file:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
