html.ui-scaled {
    --ui-scale: 1;
    zoom: calc(1 / var(--ui-scale));
}

body.ui-scaled {
    font-size: calc(16px * var(--ui-scale));
}

body.ui-scaled input,
body.ui-scaled select {
    font-size: calc(16px * var(--ui-scale));
}

body.ui-scaled h1,
body.ui-scaled h2,
body.ui-scaled h3,
body.ui-scaled h4,
body.ui-scaled h5,
body.ui-scaled h6 {
    font-size: calc(24px * var(--ui-scale));
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
