:host {
    position: relative;
    width: 400px;
    height: 300px;
    display: block;
    font-size: 10px;
}

#container {

    width: 100%;
    height: 100%;

    .codemirror {

        height: 100%;
        width: 100%;

        .codemirror-scroller {
            overflow: auto;
        }

        .codemirror-gutters {
            position: sticky;
            border-right-color: $alpha($white(0), 0.1);
            backdrop-filter: blur(4px);
            background-color: $alpha($white(0.95), 0.7);
        }

        .codemirror-gutterElement-lineNumber {
            padding-left: 10px;
        }

        .codemirror-content {
            font-family: 'Mew Source SC', Menlo, Consolas, monospace;
        }

    }

}
