:host {
    position: absolute;
    display: block;
    min-width: 120px;
    min-height: 30px;
    box-sizing: content-box;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    backdrop-filter: blur(calc(3px * var(--ui-scale)));
    background-color: $alpha($white(1), 0.8);
    font-family: sans-serif;
    font-size: 12px;
    $transition(opacity, transform, 0.3s);
}

:host(.hidden) {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

#ui-window-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#ui-window-title-bar {
    width: 100%;
    height: calc(32px + 1dpx);
    line-height: 32px;
    font-weight: bold;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    border-bottom: solid 1dpx rgba(0, 0, 0, 0.2);
    padding-right: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

#ui-window-action-button {
    background-color: #afdb00;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 32px;
    top: 8px;
    border-radius: 16px;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    background-image: url('../../res/window/action-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
}

#ui-window-close-button {
    background-color: #ed6868;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 16px;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    background-image: url('../../res/window/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
}

#ui-window-clients {
    min-height: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 10px;
    overflow: hidden;
}

#ui-window-resizer {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 9px;
    background-color: #6ebaff;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    cursor: se-resize;
    display: none;
}

#ui-window-resizer.resizable {
    display: block;
}
