:host {
    display: block;
}

#record {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-family: 'Mew Source', 'Menlo', 'Consolas', monospace;
    font-size: 9px;
    line-height: 2;
    border-bottom: solid 1dpx $alpha($white(0), 0.05);

    #line {

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;

        &.link #value {
            color: #ffad1f;
            cursor: pointer;
        }

        &.boolean #value,
        &.number #value {
            color: #b9c135;
            font-weight: bold;
        }

        &.string #value {
            color: #e088b0;
            font-weight: bold;
        }

        &.token #value,
        &.shrinked #value {
            color: #e88668;
            font-weight: bold;
        }

        &.token.link #value {
            color: #ffad1f;
        }

        &.object #value {
            color: #6a90d8;
        }

        &.nil #value {
            color: #ccc;
        }

        &.array #value {
            color: #9bcaa8;
        }

        #key {

            width: 115px;
            text-align: right;
            padding-left: 26px;
            padding-right: 6px;
            border-right: solid 1dpx $alpha($white(0), 0.05);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: default;
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            color: #888;

            #folder {
                margin-left: -22px;
                width: 14px;
                height: 14px;
                opacity: 0.5;
                margin-top: 2px;
                margin-right: 5px;
                display: block;
                flex-shrink: 0;
            }

            #key-name {
                width: 100px;
                flex-shrink: 1;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }

        #value {
            padding: 0 6px;
            width: 160px;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #006ccc;
        }

    }

    #sublist {

        margin-left: 10px;
        width: calc(100% - 10px);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: solid 1dpx $alpha($white(0), 0.05);
        border-left: solid 1dpx $alpha($white(0), 0.05);
        margin-bottom: -1dpx;
        max-height: 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: max-height 0.3s, margin-bottom 0.3s, opacity 0.3s, transform 0.3s;
        overflow: hidden;

    }

    &.expanding #sublist {
        opacity: 1;
        max-height: var(--complete-height, 100px);
        margin-bottom: 2px;
        transform: none;
    }

    &.expanded #sublist {
        opacity: 1;
        max-height: none;
        margin-bottom: 2px;
        transform: none;
    }

}
