:host {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
    $transition(opacity, transform, 0.3s);
}

:host(.hidden) {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
}

:host(.not-browsing) {
    opacity: 0;
    pointer-events: none;
}

#ui-workbench-container {

    box-sizing: content-box;
    height: 100%;
    width: 100%;

    :host(.browsing) & * {
        pointer-events: none;
    }

    $import('../ui-workshop/ui-view.browsing.css');

}
