ui-collection-view {

    width: 100%;
    height: 100%;

    ui-collection-view-section-header {
        
        white-space: nowrap;

        .group-name {

            margin-right: 8px;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: $alpha($white(0), 0.2);
            text-transform: uppercase;
            line-height: 24px;

            &.empty {
                color: $alpha($white(0), 0.1);
            }

        }

        .cell-count {
            font-weight: bold;
            font-size: 10px;
            padding: 0px 8px;
            line-height: 12px;
            background-color: $alpha($white(0), 0.16);
            color: #fff;
            border-radius: 40px;
            vertical-align: top;
            position: relative;
            top: calc(6px + 1dpx);
        }

    }

    ui-collection-view-cell {

        .cell {

            color: $alpha($white(0), 0.8);
            font-size: 10px;
            line-height: 24px;
            padding: 0 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $alpha($white(0), 0.05);
            }

            &.selected {

                background-color: #0d8ef1;
                color: $white(1);

                &:hover {
                    background-color: $bright(#0d8ef1, -0.1);
                }

                .channel {
                    color: $white(1);
                    background-color: $alpha($white(1), 0.3);
                    border-color: $white(1);
                }

                .priority {
                    color: $alpha($white(1), 0.5);
                }

            }

            &.system-clip {

                opacity: 0.7;

                .usage {
                    font-style: italic;
                }

            }

            .channel {
                opacity: 0.8;
                text-transform: uppercase;
                background-color: $alpha(#3270ff, 0.2);
                border: solid 1dpx $alpha(#3270ff, 0.3);
                border-radius: 3px;
                padding: 0 4px;
                line-height: calc(12px - 2dpx);
                height: 12px;
                display: inline-block;
                font-weight: bold;
                margin-left: 8px;
                color: #3270ff;
                font-size: 8px;
                transition: transform 0.2s, opacity 0.2s;
                &:empty {
                    transform: translateX(-10px);
                    opacity: 0;
                }
            }

            .priority {
                margin-left: 5px;
                font-style: italic;
                font-size: 7px;
                line-height: 24px;
                color: #ff6000;
                font-weight: bold;
                transition: transform 0.2s, opacity 0.2s;
                &:empty {
                    transform: translateX(-10px);
                    opacity: 0;
                }
            }

            .paused {
                opacity: 0.5;
                text-transform: uppercase;
                margin-left: 6px;
                font-size: 7px;
                background-color: $alpha($white(0), 0.7);
                color: $white(1);
                padding: 0 4px;
                line-height: 10px;
                height: 10px;
                font-weight: bold;
                border-radius: 9px;
                transition: transform 0.2s, opacity 0.2s;
                &:empty {
                    transform: translateX(-10px);
                    opacity: 0;
                }
            }

        }

    }

    .placeholder {
        position: absolute;
        left: 0;
        width: 100%;
        pointer-events: none;
    }

}