:host {
    position: absolute;
    display: block;
    min-width: 120px;
    min-height: 30px;
    box-sizing: content-box !important;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border-bottom-right-radius: 4px;
    z-index: 1;
    background-color: $alpha($white(1), 0.8);
    font-family: 'Mew Sans', sans-serif;
    font-size: 13px;
    overflow: hidden;
    $transition(opacity, transform, 0.3s);
}

:host(.hidden) {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

:host(.browsing) {
    box-shadow: none;
    background-color: #fff;
}

:host(.not-browsing) {
    opacity: 0;
    pointer-events: none;
}

#ui-overlay-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    :host(.browsing) & * {
        pointer-events: none;
    }

    $import('../ui-workshop/ui-view.browsing.css');

}

#ui-overlay-close-button {
    background-color: #ed6868;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 12px;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    background-image: url('../../res/window/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6px 6px;
}

#ui-overlay-clients {
    min-height: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 10px;
    overflow: hidden;
}

#ui-overlay-resizer {
    width: 6px;
    height: 6px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 6px;
    background-color: #6ebaff;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    cursor: se-resize;
    display: none;
}

#ui-overlay-resizer.resizable {
    display: block;
}
