:host {
    display: block;
}

#container {

    background-color: $bright($white(0.98), -0.08);
    border-right: solid 1dpx $bright($white(0.98), -0.2);
    transition: border-color 0.3s, background-color 0.3s;
    width: 60px;
    min-height: 60px;
    height: 100%;
    -webkit-margin-collapse: separate;

    :host-context(.browsing) & {
        background-color: $bright($white(0.98), -0.7);
        border-right: solid 1dpx $bright($white(0.98), -0.9);
    }

}

::slotted(.dock-icon) {
    margin: 3px;
    --icon-size: 54px;
    --border-color: $bright(#888, 0.6);
}
