m3d-scene {
    width: 100%;
    height: 100%;
    background-image: url('/res/transparent-background.svg');
    background-repeat: repeat;
    background-size: 16px;
    background-position: left top;
}
