:host {
    position: absolute;
    display: block;
    min-width: 120px;
    min-height: 30px;
    box-sizing: content-box !important;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border-bottom-right-radius: 2px;
    z-index: 1;
    /*backdrop-filter: blur(calc(3px * var(--ui-scale)));*/
    background-color: $white(1); 
    font-family: 'Mew Sans', sans-serif;
    font-size: 12px;
    $transition(opacity, transform, 0.3s);
}

:host(.closing) {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
}

#ui-diagram-frame-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:hover #ui-diagram-frame-resizer,
    &:hover #ui-diagram-frame-close-button,
    &:hover #ui-diagram-frame-action-button,
    :host(.acting) & #ui-diagram-frame-resizer,
    :host(.acting) & #ui-diagram-frame-close-button,
    :host(.acting) & #ui-diagram-frame-action-button {
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }

}

#ui-diagram-frame-title-bar {
    width: 100%;
    height: var(--diagram-title-bar-size, 20px);
    line-height: var(--diagram-title-bar-size, 20px);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    border-bottom: solid 1dpx rgba(0, 0, 0, 0.1);
    padding-right: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 11px;
}

#ui-diagram-frame-action-button {
    background-color: #afdb00;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: -6px;
    border-radius: 16px;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: url('../../res/window/action-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
    pointer-events: none;
    opacity: 0;
    $transition(opacity, transform, 0.2s);
}

#ui-diagram-frame-close-button {
    background-color: #ed6868;
    width: 16px;
    height: 16px;
    position: absolute;
    right: -6px;
    top: -6px;
    border-radius: 16px;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: url('../../res/window/close-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
    pointer-events: none;
    opacity: 0;
    $transition(opacity, transform, 0.2s);
}

#ui-diagram-frame-clients {
    min-height: 10px;
    flex-grow: 1;
    height: 10px;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#ui-diagram-frame-resizer {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 9px;
    background-color: #6ebaff;
    border: solid 1dpx rgba(0, 0, 0, 0.3);
    cursor: se-resize;
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    $transition(opacity, transform, 0.2s);
}

#ui-diagram-frame-resizer.resizable {
    display: block;
}
