#nav-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    top: 0;
    border-bottom: solid 1dpx rgba(0, 0, 0, 0.3);
    box-sizing: padding-box;
    backdrop-filter: blur(3px);
    background-color: $alpha($white(1), 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    flex-direction: row;
}

#diagram {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
